{% extends "base.html" %}


	{% block content %}
		<section class="js-section_title header_slider theme-white">
							
			<div  class="header_slider--header" style="width: 75% !important;">
				<div class="media" >
					<img fetchpriority="high" width="1488" height="900" src="./img/FA_flag.svg" class="image_default no-lazy" alt="illustration_radio" decoding="async" />
				</div>
				<div class="right">
					<div class="title">Nos Activités</div>
					<div class="subtitle"></div>
					<div class="description">La liste des Activités locaux de Lyon</div>
														<div class="description">
						Boulangerie, magazine ...

						</div>
						<!-- Slider des podcasts -->
					<div class="container-fullslider">
						<div class="swiper-container swiper_fiveposts">
							<div class="swiper-wrapper">
								
								<!-- Podcast 1 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%;">
									<div class="card-podcast" style="padding: 0;">
										<a href="./index.html#qui">
											<img width="800" height="800" 
												src="./img/Pain_logo.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" />
											<noscript>
												<img width="800" height="800" 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">La Boulangerie !</a></h2>
											<p>Liens vers le contact de l'activité</p>
										</div>
									</div>
								</div>

								<!-- Podcast 2 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%;">
									<div class="card-podcast" style="padding: 0;">
										<a href="https://purpleblack.org/Home">
											<img width="800" height="auto" 
												src="./img/Banderoles_BDF_novembre2.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" 
												data-lazy-src="" />
											<noscript>
												<img width="800" height="auto" 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">La Bouche de Fer</a></h2>
											<p>Lien vers le site d'hébergement de la Revue</p>
										</div>
									</div>
								</div>



							</div>
						</div>
					</div>

		</div>
		</div>
		</section>
	{% endblock content %}

