<body id="body"
      class="home wp-singular page-template page-template-template-home template-home page page-id-237 wp-theme-lnei-wp-themeresources wp-child-theme-lnei-wp-theme-child-novaresources has-infinite-scroll app-data index-data singular-data page-data page-237-data page-accueil-data template-home-data front-page-data"
      "
      data-usr="0">

<div class="wrap" role="document" >
<div class="content" style="padding-top:0 !important;">
<main class="main">

<div class="media-cards">

<div class="swiper-container podcasts_header swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">

<div class="swiper-wrapper" style="transition-duration:0ms; transform:translate3d(-1829.78px,0px,0px);">

<!-- CARD 1 -->
<div class="js-radio-card swiper-slide cards_header">
    <div class="cards_content" style="text-align:center;color:white !important;font-size: 1.5vh;">
        <a href="articles/Critique_du_Parti.html">
            <div  style="text-align:center;color:white!important;font-size: 1.5vh;">Critique du Parti</div>
            <div class="cards_content__infos" style="background-image:url(img/Brochure_1.png);">
                <div class="js-track_infos"></div>
            </div>
        </a>
    </div>
</div>

<!-- CARD 2 -->
<div class="js-radio-card swiper-slide cards_header">
    <div class="cards_content" style="text-align:center;color:white !important;font-size: 1.5vh;" >
        <a href="./index.html#qui">
            <div  style="text-align:center;color:white!important;font-size: 1.5vh;">Livret d'intention de la liaison commune de Lyon</div>
            <div class="cards_content__infos" style="background-image:url(img/Brochure_3.jpg);">
                <div class="js-track_infos"></div>
            </div>
        </a>
    </div>
</div>

<!-- CARD 3 -->
<div class="js-radio-card swiper-slide cards_header">
    <div class="cards_content" style="text-align:center;color:white!important;font-size: 1.5vh;">
        <a href="articles/Proposition_10_sept.html">
            <div  style="text-align:center;color:white!important;font-size: 1.5vh;">Proposition pour une confédération locale à Villeurbanne</div>
            <div class="cards_content__infos" style="background-image:url(img/Brochure_2.png);">
                <div class="js-track_infos"></div>
            </div>
        </a>
    </div>
</div>

</div>

<!-- SVG CLIP PATH -->
<svg width="0" height="0">
<defs>
<clipPath id="mediaCardClipPath" clipPathUnits="objectBoundingBox">
<path id="curve"
      transform="scale(0.00285,0.00254)"
      d="M -20 442 L 0 50 A 8 2 0 0 1 356 50 L 356 442 Z">
</path>
</clipPath>
</defs>
</svg>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

</div> <!-- swiper-container -->

</div> <!-- media-cards -->

</main>
</div>
</div>


</body>
