{% extends "base.html" %}

{% block content %}


	<section class="no_phone">
		<section>
		<!-- Le carroussel de carte -->
			{% include "Cards_brochure.html" %}
			
		</section>

		<section  class="js-section_title header_slider theme-black">
			<section id="réseau" style ="display: flex !important; position: relative; text-align: center; align-content: center; justify-content: center;">
				
				{% include "carte.html" %}
				
			</section>
		</section>

		<section id="qui">
			
			{% include "Section_accueil.html" %}
			
		</section>
	
	</section>
	
	<section class="phone">
	
		<div class="media" style="display: grid !important;">
			<img fetchpriority="high" src="./img/publication site FA_1.webp" class="image_default no-lazy" style="width: 100%!important;">
			
			<img fetchpriority="high" src="./img/publication site FA_2.webp" class="image_default no-lazy" style="width: 100%!important;">
		</div>

		<section id="qui">
			
			{% include "Section_accueil.html" %}
			
		</section>
		
		<section>
			<!-- Le carroussel de carte -->
				{% include "Cards_brochure.html" %}
				
			</section>
	</section>
		

{% endblock content %}

